<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-gray-900 dark:text-gray-100 mb-4"><%= @project_type.name %></h1>
  <p class="text-gray-700 dark:text-gray-300 mb-4"><%= @project_type.description %></p>
  <%= link_to "Edit", edit_project_type_path(@project_type), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium" %>
  <%= link_to "Back to project types", project_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 dark:bg-gray-700 inline-block font-medium text-gray-900 dark:text-gray-100" %>
</div>
