<div id="<%= dom_id sheet_music %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="flex items-start " >
    <embed src="<%= rails_blob_path(sheet_music.pdf_file) %>" width="100%" height="450" />
    <div class="flex-col py-4 px-4" >
      <div class="px-4 py-4 text-sky-800 dark:text-teal-300">
        <%= sheet_music.project_name %>
      </div>
      <div class="px-4 py-4 text-sky-800 dark:text-teal-300">
        <strong>Info:</strong>
        <%= sheet_music.info %>
      </div>
    </div>
  </div>
</div>