<div id="<%= dom_id assignment %>">
  <p>
    <strong>Student:</strong>
    <%= assignment.student %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= assignment.teacher %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= assignment.composition %>
  </p>

</div>
