<div id="<%= dom_id assignment %>">
  <p>
    <strong>Student:</strong>
    <%= assignment.student.name %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= assignment.teacher.name %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= assignment.composition.name %>
  </p>

</div>
