<%= render layout: "shared/index_layout",
           locals: {
             title: "Projects",
             search_url: assignments_path,
             turbo_frame: "assignments-table",
             search_placeholder: "Search for projects",
             new_button_text: "Add new project",
             new_path: new_assignment_path
           } do %>
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Name</th>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Lessons</th>
      <th class="text-left px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Student</th>
    </tr>
    <% @assignments.each do |assignment| %>
      <tr>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= link_to assignment.composition.name, assignment, class:"text-blue-500 hover:text-red-500 dark:text-blue-400 dark:hover:text-red-400"  %></td>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= link_to assignment.lessons.count %></td>
        <td class="px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-300"><%= link_to assignment.student.name%></td>
      </tr>
    <% end %>
  </table>
<% end %>
