<% content_for :title, 'Project' %>
<%= render 'show_header' %>
<div class="xl:flex xl:gap-8">
  <div class="md:-mx-5 py-4 xl:min-w-[640px] ">
    <%= render @assignment %>
  </div>
  <div class=" w-full py-4 xl:flex-1 xl:basis-1/2 xl:px-5 md:-mx-5 ">
    <%= render 'lesson_table', lessons: @assignment.lessons, assignment: @assignment %>
  </div>
</div>