<% content_for :title, 'Project' %>
<%= render 'show_header' %>
<div class="xl:flex">
  <div class="md:-mx-5 py-4">
    <%= render @assignment %>
  </div>
  <div class="w-full  py-4 md:flex-1 xl:basis-1/2 xl:px-5">
    <%= render 'lesson_table', lessons: @assignment.lessons, assignment: @assignment %>
    <%= render 'lesson_upload' %>
  </div>
</div>
