<%= render layout: "shared/index_layout",
           locals: {
             title: "Accounts",
             search_url: accounts_path,
             turbo_frame: "accounts-table",
             search_placeholder: "Search for accounts",
             new_button_text: "Add new account",
             new_path: nil
           } do %>
  <div class="mx-auto py-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
      <% @accounts.each do |user| %>
        <%= link_to account_path(user), class: "block" do %>
          <%= render partial: "account", locals: {user: user} %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>