<% content_for :title, "Account" %>
<div class="flex flex-col items-center max-w-7xl mx-auto ">
  <div class="xl:min-w-[640px] xl:max-w-[640px] md:flex-1 md:basis-1/2 mb-4 xl:mb-0">
    <%= render partial: "account", locals: {user: @account} %>
  </div>
</div>