<turbo-frame id="projects">
  <div class="mt-10 flex items-center justify-center">
    <h4 class="font-bold text-xl dark:text-gray-200 me-3">Projects</h4>
    <%= link_to new_assignment_path({ teacher_id: @teacher.id }), title: "Add Presentation", class: "p-1 bg-blue-600 hover:bg-blue-400 text-white rounded-lg self-start xl:self-auto" do %>
      <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"></path>
      </svg>
    <% end %>
  </div>
  <%= render 'projects_table' %>
</turbo-frame>