<div id="<%= dom_id student %>" class="flex">
  <div class="py-2 px-4">
    <%= image_tag student.profile_picture, class:"max-w-32" if student.profile_picture.attached? %>
  </div>
  <div class="">
    <p>
      Born: <%= student.year_of_birth %>
    </p>
    <%= student.bio %>
  </div>
</div>
