<h3> This comment was unplublished:</h3>
<div >
  <div >
    <div>
      <div > <%= @comment.user.email %> </div>
      <div > <%= @comment.created_at %> </div>
    </div>
    <div > <%= @comment.note %> </div>
  </div>
  <p> If you think this comment was unplublished in error, please contact system admin. </p>
</div>