<% content_for :title, "Student" %>
<%= render 'show_header' %>
<div class="flex flex-col items-center max-w-7xl mx-auto ">
  <div class="xl:min-w-[640px] xl:max-w-[640px] md:flex-1 md:basis-1/2 mb-4 xl:mb-0">
    <%= render 'profile_picture', student: @student %>
    <%= render @student %>
    <div class="mt-10 flex items-center justify-center">
      <h4 class="font-bold text-xl dark:text-gray-200 me-3">Projects</h4>
    </div>
    <%= render 'assignment_table' %>
  </div>
</div>
