<div data-controller="sortable lesson-highlight" data-lesson-highlight-current-id-value="<%= current_lesson_id %>">
  <% cache ['lesson_table', assignment, lessons.maximum(:updated_at)] do %>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left md:px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Lesson</th>
          <th class="text-left md:px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">Chapters</th>
          <th class="text-left md:px-3 py-2 border-b border-gray-300 dark:border-gray-600 dark:text-gray-200">
            <span class="inline-flex items-center gap-1">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500 dark:text-gray-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
              </svg>Date
            </span>
          </th>
        </tr>
      </thead>
      <tbody data-sortable-target="tbody">
        <% lessons.order(:sort).each_with_sortable_id do |lesson, sortable_id| %>
          <%= render '/admin/lessons/lesson_row', lesson: lesson, sortable_id: sortable_id %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <% if lessons.any? %>
    <div class="mt-3 mb-3 flex justify-between items-center gap-2">
      <label class="relative inline-flex items-center cursor-pointer">
        <input type="checkbox" class="sr-only peer" data-action="change->sortable#toggle">
        <div class="w-11 h-6 bg-gray-200 dark:bg-gray-700 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 dark:after:border-gray-600 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-blue-600"></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-200">Enable Sorting</span>
      </label>
    </div>
  <% end %>
</div>
<%= render '/admin/lessons/lesson_upload', assignment: assignment %>