<div class="mx-6 flex justify-between items-center">
  <p class="text-sky-800 dark:text-teal-300 text-2xl m-2 underline underline-offset-8">
    <%= @episode.name %>
  </p>
  <p class="text-sky-700 dark:text-teal-400 m-2 text-lg">
    <strong>Project:</strong>
    <%= link_to @episode.project.composition.name, project_path(@episode.project), class:'text-indigo-500 hover:text-indigo-300' %>
  </p>
  <p class="text-sky-700 dark:text-teal-400 m-2">
    <strong>Student:</strong>
    <%= link_to @episode.project.student.name, display_student_path(@episode.project.student), class:'font-semibold text-indigo-500 hover:text-indigo-300' %>
  </p>
</div>