<div class="bg-sky-50 dark:bg-zinc-900 rounded-2xl p-4">
  <div >
    <%= render 'header' %>
  </div>
  <div class="bg-sky-50 dark:bg-zinc-900 xl:flex">
    <%= render 'video_description' %>
    <%= render 'episode_table' %>
  </div>
</div>
<%= render partial:"/comments/module", locals:{annotation:@episode} %>
