<div>
  <div class="bg-sky-500 dark:bg-zinc-900">
    <%= render 'header' %>
  </div>
  <div class="bg-sky-500 dark:bg-zinc-900 xl:flex">
    <%= render 'video_description' %>
    <%= render 'episode_table' %>
  </div>
</div>
<%= render partial:"/comments/module", locals:{annotation:@episode} %>
