<div class="flex flex-row place-content-between justify-center">
  <div class="flex-row place-content-between">
    <p class="text-center text-xl text-teal-500 text-bold" > About the Vivek Project </p>
    <p class="text-center text-md text-neutral-500" > Decription of project and purpose. </p>
  </div>
</div>