<div class="flex flex-row place-content-between justify-center">
  <div class="flex-row place-content-between">
    <p class="text-center text-teal-400 text-xl text-bold" > Contact </p>
    <p class="text-center text-md text-gray-600" > Contact info. </p>
  </div>
</div>