<div class="flex flex-row place-content-between justify-center">
  <div class="flex-row place-content-between">
    <p class="text-center text-sky-800 dark:text-teal-300 text-xl text-bold" > Contact </p>
    <p class="text-center text-md text-sky-800 dark:text-teal-300" > Contact info. </p>
  </div>
</div>