<div class="flex justify-between items-center">
  <span class="font-bold text-2xl dark:text-gray-200">
    <%= link_to @tutorial.teacher.name, @tutorial.teacher, class: "text-blue-600 hover:text-blue-500 dark:text-blue-400 dark:hover:text-blue-300" %> Tutorial
  </span>
</div>