<div id="<%= dom_id tutorial %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= tutorial.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Teacher:</strong>
    <%= tutorial.teacher_id %>
  </div>
</div>
