<div id="<%= dom_id sheet_music %>" class="w-full sm:w-auto my-5 space-y-5">
  <div class="flex" >
    <div class="flex-row" >
      <div>
        <%= link_to sheet_music.composition.name, sheet_music.composition %>
      </div>
      <div>
        <strong>Info:</strong>
        <%= sheet_music.info %>
      </div>
    </div>
    <embed src="<%= rails_blob_path(sheet_music.pdf_file) %>" width="80%" height="360" />
  </div>
</div>