<% content_for :title, 'Project' %>
<%= render 'show_header' %>
<div class="xl:flex xl:gap-8">
  <div class="md:-mx-5 py-4 xl:min-w-[640px]  xl:max-w-[640px] md:flex-1 md:basis-1/2 md:px-5">
    <%= render 'summary_video', assignment: @assignment %>
    <%= render @assignment %>
  </div>
  <div class=" w-full py-4 xl:flex-1 xl:basis-1/2 xl:px-5 md:-mx-5 ">
    <%= render '/admin/lessons/lesson_table',  lessons: @assignment.lessons, current_lesson: @lesson, assignment: @assignment, current_lesson_id: nil  %>
  </div>
</div>