default: &default
  dispatchers:
    - polling_interval: 1
      batch_size: 500
  workers:
    - queues: "*"
      threads: 3
      processes: <%= ENV.fetch("JOB_CONCURRENCY", 1) %>
      polling_interval: 0.1

development:
  <<: *default

test:
  <<: *default

production:
  primary:
    adapter: postgresql
  queue:
    adapter: postgresql
    url: <%= ENV["HEROKU_POSTGRESQL_ORANGE_URL"] %>