<%= turbo_frame_tag "lesson_#{@lesson.id}_lesson_video" do %>
  <div class="bg-black flex items-center justify-center" style="width: 640px; height: 480px; max-width: 100%;">
    <%= form_with(model: @lesson, url: lesson_path(@lesson, {format: :html})) do |form| %>
      <div class="dropzone dropzone-default dz-clickable border  border-gray-300 rounded p-4" data-controller="dropzone" data-dropzone-max-file-size="10000000" data-dropzone-accepted-files="video/*" data-turbo-permanent>
        <%= form.file_field :summary_video, direct_upload: true, data: { 'dropzone-target': "input", 'dropzone-capture-mode-value': 'environment', autosubmit: true, turbosubmit: nil, camera: false } %>
        <div class="dropzone-msg dz-message needsclick">
          <h3 class="dropzone-msg-title">Drag Lesson Video File Here</h3>
          <span class="dropzone-msg-desc">Click To Browse</span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>