<div id="<%= dom_id lesson %>">
  <p>
    <strong>Name:</strong>
    <%= lesson.name %>
  </p>

  <p>
    <strong>Assignment:</strong>
    <%= link_to lesson.assignment.composition, lesson.assignment %>
  </p>

</div>
