<div class="py-6">
  <p class="font-bold"> Skills: </p>
  <%= lesson.skills.map{|skill| link_to(skill.name, skill, class:"text-blue-700 hover:text-blue-400")}.join(', ').html_safe %>
</div>
<div class="py-6">
  <strong>Description:</strong>
  <%= lesson.description %>
</div>
<div class="flex px-4 py-4 ">
  <div class="flex-auto border border-sky-100 rounded-2xl outline-2 outline-offset-2 outline-sky-200 mx-3 my-3 px-3 py-3" >
    <strong>Student Reflection:</strong>
    <%= lesson.student_journal %>
  </div>
  <div class="flex-auto border border-sky-100 rounded-2xl outline-2 outline-offset-2 outline-sky-200 mx-3 my-3 px-3 py-3" >
    <strong>Teacher Comments:</strong>
    <%= lesson.teacher_journal %>
  </div>
</div>
