<turbo-frame id="my-frame">
  <%= form_with(model: @lesson) do |form| %>
    <div class="dropzone dropzone-default dz-clickable border border-gray-300 dark:border-gray-600 rounded p-4 dark:bg-gray-800" data-controller="dropzone" data-dropzone-max-file-size="10000000" data-dropzone-accepted-files="video/*" data-turbo-permanent>
      <%= form.file_field :lesson_video, direct_upload: true, data: { 'dropzone-target': "input", 'dropzone-capture-mode-value': 'environment', autosubmit: true, turbosubmit: true, camera: false } %>
      <div class="dropzone-msg dz-message needsclick">
        <h3 class="dropzone-msg-title dark:text-gray-200">Drag Video Lesson File Here</h3>
        <span class="dropzone-msg-desc dark:text-gray-300">Click To Browse</span>
      </div>
    </div>
    <%= form.hidden_field :assignment_id %>
    <%= form.submit class: "w-full sm:w-auto rounded-lg my-2 px-3 py-2 bg-blue-600 hover:bg-blue-400 text-white inline-block font-medium cursor-pointer" %>
  <% end %>
</turbo-frame>