<div id="<%= dom_id teacher %>">
  <div class="py-2 max-w-200">
    <%= image_tag teacher.profile_picture, class:"" if teacher.profile_picture.attached? %>
  </div>
  <div class="w-auto pb-2 px-4 dark:text-gray-300">
    <p>
      City:
      <%= teacher.city %>
    </p>
    <%= teacher.bio %>
  </div>
</div>
