<%= render layout: "shared/index_layout",
           locals: {
             title: "Teachers",
             search_url: teachers_path,
             turbo_frame: "teachers-table",
             search_placeholder: "Search for teachers",
             new_button_text: "Add new teacher",
             new_path: new_teacher_path
           } do %>
  <table class="w-full table-auto border-collapse">
    <tr>
      <th class="text-left px-3 py-2 border-b border-gray-300">Name</th>
      <th class="text-left px-3 py-2 border-b border-gray-300">Projects</th>
    </tr>
    <% @teachers.each do |teacher| %>
      <tr>
        <td class="px-3 py-2 border-b border-gray-300"><%= link_to teacher.name, teacher, class:"text-blue-500 text-semibold hover:text-red-500 px-1 py-1" %></td>
        <td class="px-3 py-2 border-b border-gray-300"><%= teacher.projects.length %></td>
      </tr>
    <% end %>
  </table>
<% end %>
