<% content_for :title, "Teacher" %>
<%= render 'show_header' %>
<div class="xl:flex gap-5">
  <div>
    <%= render @teacher %>
  </div>
  <div>
    <%= render 'projects_table' %>
    <div class="mt-10">
      <%= render 'tutorials_table' %>
    </div>
  </div>
</div>