<div class="border border-gray-300 dark:border-gray-600 rounded p-4 dark:bg-gray-800">
  <p class="text-sky-700 dark:text-teal-400">
    <strong>Project:</strong>
    <%= link_to @project.composition.name, composition_path(@project.composition), class:'text-indigo-500 hover:text-indigo-300 text-2xl' %>
  </p>
  <p class="text-sky-700 dark:text-teal-400">
    <strong>Student:</strong>
    <%= link_to @project.student.name, student_path(@project.student), class:'font-semibold text-indigo-500 hover:text-indigo-300' %>
  </p>
</div>