<div class="flex flex-col items-center max-w-7xl mx-auto ">
  <div class="text-center mb-6">
    <div class="text-sky-900 dark:text-teal-400 text-2xl mb-2">Projects</div>
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-6 w-full px-1 md:px-4">
    <% @projects.each do |project| %>
      <%= render partial: 'home/project_card', locals: { project: project } %>
    <% end %>
  </div>
</div>