<% content_for :title, "Project: #{@project.name}" %>
<% content_for :meta_description, @project.description.to_plain_text.truncate(160) if @project.description.present? %>
<% if @project.student.avatar.attached? %>
  <% content_for :meta_image, url_for(@project.student.display_avatar(size: 600)) %>
<% end %>
<%= render 'header', project: @project %>
<div class="xl:flex xl:gap-8 py-4">
  <div class="xl:min-w-[640px] xl:max-w-[640px] md:flex-1 md:basis-1/2 mb-4 xl:mb-0">
    <div class="rounded-lg overflow-hidden shadow-sm">
      <%= render 'video_description' %>
    </div>
    <!-- Comments Section -->
    <div class="w-full mt-8">
      <turbo-frame id="comments_module" src="<%= comments_path(annotation_type: @project.class.name, annotation_id: @project.id) %>"></turbo-frame>
    </div>
  </div>
  <div class="hidden xl:block w-full xl:flex-1 xl:basis-1/2 xl:self-start overflow-y-auto rounded-lg overflow-hidden shadow-sm">
    <%= render 'episode_table', episode: nil, project: @project %>
  </div>
</div>
