<% content_for :title, "Project: #{@project.composition.name} by #{@project.student.name} | The Vivek Project" %>
<% content_for :meta_description, @project.meta_description %>
<% if @project.video_thumbnail.attached? %>
  <% content_for :meta_image, rails_representation_url(@project.video_thumbnail.variant(resize_to_limit: [1200, 630]), only_path: false) %>
<% elsif @project.summary_video.attached? && @project.summary_video.previewable? %>
  <% content_for :meta_image, rails_representation_url(@project.summary_video.preview(resize_to_limit: [1200, 630]), only_path: false) %>
<% elsif @project.student.profile_picture.attached? %>
  <% content_for :meta_image, rails_representation_url(@project.student.display_avatar(size: 600), only_path: false) %>
<% end %>
<%= render 'header', project: @project %>
<div class="xl:flex xl:gap-8 py-4">
  <div class="xl:min-w-[640px] xl:max-w-[640px] md:flex-1 md:basis-1/2 mb-4 xl:mb-0">
    <div class="rounded-lg overflow-hidden shadow-sm">
      <%= render 'video_description' %>
    </div>
    <!-- Comments Section -->
    <div class="w-full mt-8">
      <turbo-frame id="comments_module" src="<%= comments_path(annotation_type: @project.class.name, annotation_id: @project.id) %>"></turbo-frame>
    </div>
  </div>
  <div class="hidden xl:block w-full xl:flex-1 xl:basis-1/2 xl:self-start overflow-y-auto rounded-lg overflow-hidden shadow-sm">
    <%= render 'episode_table', episode: nil, project: @project %>
  </div>
</div>
