<% content_for :title, "Student: #{@student.name}" %>
<div class="flex flex-col items-center max-w-7xl mx-auto ">
  <div class="w-full mx-auto space-y-6 font-sans">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render @student %>
    <!-- Projects Section -->
    <div class="bg-gradient-to-r from-slate-50 to-blue-50 dark:from-gray-800 dark:to-gray-900  rounded  overflow-hidden py-4">
      <div class="px-6 pb-3">
        <h1 class="text-2xl text-slate-900 dark:text-teal-200 font-semibold">Projects</h1>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-6 w-full px-1 md:px-4">
        <% @student.assignments.includes(:lessons).sort_by { |a| a.lessons.minimum(:date) || Date.new(1900, 1, 1) }.reverse.each do |assignment| %>
          <%= render partial: 'project_card', locals: { project: assignment } %>
        <% end %>
      </div>
    </div>
  </div>
</div>