<% content_for :title, "Lesson: #{@episode.name} - #{@episode.project.composition.name} by #{@episode.project.student.name} | The Vivek Project" %>
<% content_for :meta_description, @episode.meta_description  %>
<% if @episode.video_thumbnail.attached? %>
  <% content_for :meta_image, rails_representation_url(@episode.video_thumbnail.variant(resize_to_limit: [1200, 630]), only_path: false) %>
<% elsif @episode.lesson_video.attached? && @episode.lesson_video.previewable? %>
  <% content_for :meta_image, rails_representation_url(@episode.lesson_video.preview(resize_to_limit: [1200, 630]), only_path: false) %>
<% elsif @episode.project.student.profile_picture.attached? %>
  <% content_for :meta_image, rails_representation_url(@episode.project.student.display_avatar(size: 600), only_path: false) %>
<% end %>
<%= render '/public/projects/header', project: @episode.project %>
<div class="xl:flex xl:gap-8 py-4">
  <div class="xl:min-w-[640px] xl:max-w-[640px] md:flex-1 md:basis-1/2 mb-4 xl:mb-0">
    <div class="rounded-lg overflow-hidden shadow-sm">
      <%= render 'video_description' %>
    </div>
    <!-- Comments Section -->
    <div class="w-full mt-8">
      <turbo-frame id="comments_module" src="<%= comments_path(annotation_type: @episode.class.name, annotation_id: @episode.id) %>"></turbo-frame>
    </div>
  </div>
  <div class="hidden xl:block w-full xl:flex-1 xl:basis-1/2 xl:self-start overflow-y-auto rounded-lg shadow-sm">
    <%= render '/public/projects/episode_table', episode: @episode, project: @episode.project %>
  </div>
</div>