<p class="text-sky-800 dark:text-sky-300">Welcome <%= @email %>!</p>
<p class="text-sky-800 dark:text-sky-300">You can confirm your account email through the link below:</p>
<p class="text-sky-800 dark:text-sky-300"><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
