<% content_for :title, "Showing user account" %>
<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
<% end %>
<h1 class="text-3xl text-semibold">Account Info:</h1>
<div class="flex justify-between ">
  <%= render partial: "account", locals: {user: @account} %>
  <div class="ml-4 flex items-start justify-end gap-2">
    <%= link_to "All accounts", accounts_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3 py-2 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  </div>
</div>
